
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
<nav class="navbar navbar-expand-custom navbar-mainbg">
    <a class="navbar-brand navbar-logo" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-bars text-white"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <div class="hori-selector"><div class="left"></div><div class="right"></div></div>
            <li class="nav-item">
                <a class="nav-link" ><i class="fas fa-tachometer-alt"></i>Home Page</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" ><i class="far fa-address-book"></i>All Products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ><i class="far fa-clone"></i>Categories</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ><i class="far fa-calendar-alt"></i>Basket</a>
            </li>
            
        </ul>
        <ul>
            <li class="nav-item">
                <a class="nav-link" ><i class="far fa-chart-bar"></i>Charts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ><i class="far fa-copy"></i>Documents</a>
            </li>
        </ul>
    </div>
</nav>
